@import "tailwindcss";

body {
	background-color: #f8f7fa;
	color: #505050;
	font-family: "Public Sans", sans-serif;
	font-size: 1rem;
	min-height: 100vh;
	max-width: 100vw;
}


@layer components {
  .btn {
    @apply flex items-center justify-center gap-2 px-4 py-2 h-10 rounded transition-colors;
  }

  .btn-create {
    @apply bg-green-500 hover:bg-green-600 text-white ;
  }

  .btn-edit {
    @apply bg-yellow-500 hover:bg-yellow-600 text-white ;
  }

  .btn-delete {
    @apply bg-red-600 hover:bg-red-700 text-white ;
  }

  .btn-action {
    @apply  bg-blue-500 hover:bg-blue-600 text-white ;
  }

  .btn-cancel {
    @apply bg-gray-500 hover:bg-gray-600 text-white ;
  }

}
